/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
b,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.home-template {
  padding-left: 10%;
  padding-right: 10%;
}
.home-template .home-template__img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
.home-template .home-template__img img {
  margin-top: 100px;
}
ul#main-menu {
  padding: 30px 10% 0px 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  font-style: normal;
}
ul#main-menu li {
  display: flex;
}
ul#main-menu li a {
  text-decoration: none;
  font-family: 'Futura', sans-serif;
}
ul#main-menu > li {
  padding: 10px 30px 30px 20px;
}
ul#main-menu > li > a {
  position: relative;
}
ul#main-menu > li > ul.sub-menu {
  margin-top: 35px;
  background-color: white;
  flex-direction: row;
  justify-content: flex-end;
  font-style: normal;
  position: absolute;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  right: 10%;
  left: 10%;
}
ul#main-menu > li > ul.sub-menu > li {
  padding: 20px 0px 20px 20px;
}
ul#main-menu > li:nth-of-type(2) > a:after {
  display: none;
}
ul#main-menu > li:hover > ul.sub-menu {
  display: flex;
}
ul#main-menu > li:hover > a:after {
  transform: rotate(180deg);
  transition: transform 0.5s;
}
ul#main-menu > li {
  font-family: 'Material Icons';
}
ul#main-menu > li > a:after {
  content: '\e5c5';
  font-size: 27px;
  font-family: 'Material Icons';
  color: currentColor;
  display: block;
  position: absolute;
  left: 100%;
  top: -7px;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
#mobile-menu-trigger {
  display: none;
}
@media screen and (max-width: 580px) {
  ul#main-menu {
    background-color: white;
    display: none;
    margin-top: 65px;
    flex-direction: column;
    min-height: 100vh;
  }
  ul#main-menu li a {
    font-size: 18px;
  }
  ul#main-menu > li {
    position: relative;
  }
  ul#main-menu > li > ul.sub-menu {
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    left: -40px;
  }
  ul#main-menu > li > ul.sub-menu > li {
    padding: 10px 10px 20px 20px;
  }
  ul#main-menu > li:after {
    position: absolute;
    left: 0;
    top: 25px;
  }
  #mobile-menu-trigger {
    display: flex;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 100;
    top: 13px;
    right: 10%;
    height: 30px;
    cursor: pointer;
  }
  #mobile-menu-trigger span {
    display: block;
    margin-bottom: 3px;
    height: 3px;
    width: 20px;
    background-color: currentColor;
    opacity: 1;
    transform: rotate(0deg);
  }
  #mobile-menu-trigger > div {
    display: flex;
    flex-direction: column;
  }
  #mobile-menu-trigger > div:nth-child(2) {
    transition: margin-left 0.6s;
    margin-left: 8px;
  }
  .menu-open #mobile-menu-trigger div:nth-child(2) {
    margin-left: 0;
    transition: margin-left 0.6s;
  }
  .menu-open ul#main-menu {
    display: block;
  }
}
figure,
.wp-block-image {
  margin-bottom: 25px;
}
figure figcaption,
.wp-block-image figcaption {
  width: 100%;
  font-size: 16px;
  text-align: right;
}
figure figcaption a,
.wp-block-image figcaption a {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
}
img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.template-tc {
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 150px;
  min-height: 60vh;
}
.template-tc .template-tc__header {
  position: relative;
  min-height: 150px;
  margin-bottom: 75px;
}
.template-tc .template-tc__header img {
  position: absolute;
  height: 150px;
  width: auto;
  margin-left: -12%;
}
.template-tc .template-tc__header .template-tc__title {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  text-align: center;
}
.template-tc h1:nth-child(2) {
  margin-top: -203px;
  margin-bottom: 75px;
  text-align: center;
}
@media screen and (max-width: 580px) {
  .template-tc {
    padding-top: 70px;
  }
  .template-tc .template-tc__header {
    min-height: 80px;
    margin-bottom: 30px;
  }
  .template-tc .template-tc__header img {
    height: 50px;
    margin-left: -12%;
  }
  .template-tc .template-tc__header .template-tc__title {
    min-height: 50px;
  }
  .template-tc h1:nth-child(2) {
    margin-top: -100px;
  }
}
h1,
h2,
h3 {
  font-family: 'Futura', sans-serif;
}
p,
a {
  font-family: 'Arial', sans-serif;
}
h1 {
  font-size: 90px;
  line-height: 76px;
  min-height: 18vh;
  width: 100%;
  overflow: hidden;
  color: #FFF;
  animation: type 1.3s steps(25, end);
}
@keyframes type {
  0% {
    width: 0%;
  }
}
h2 {
  font-size: 50px;
  line-height: 51px;
  margin-bottom: 20px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
p {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}
p:last-of-type {
  margin-bottom: 50px;
}
a {
  color: black;
}
strong {
  font-size: 50px;
  line-height: 51px;
}
blockquote,
q {
  margin: 0 8%;
  font-style: italic;
}
blockquote p:last-of-type,
q p:last-of-type {
  margin-bottom: 15px;
}
@media screen and (max-width: 580px) {
  h1 {
    font-size: 30px;
    line-height: 25px;
    min-height: auto;
  }
  h2 {
    font-size: 20px;
    line-height: 21px;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 3px;
    line-height: 19px;
  }
  p {
    font-size: 16px;
    line-height: 19px;
  }
  strong {
    font-size: 20px;
    line-height: 21px;
  }
  figure,
  .wp-block-image {
    margin-bottom: 30px;
    margin-top: 30px;
  }
  figure figcaption,
  .wp-block-image figcaption {
    font-size: 16px;
  }
  figure figcaption a,
  .wp-block-image figcaption a {
    font-size: 16px;
  }
}
@font-face {
  font-family: Futura;
  src: url('../resources/font/Futura-Medium-48.vlw') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: Arial;
  src: url('../resources/font/arial.ttf') format('opentype');
}
.structure-justify-start {
  justify-content: flex-start !important;
}
.structure-text-left {
  text-align: left !important;
}
.title-image {
  margin-bottom: 60px;
}
.title-image a {
  text-decoration: none;
}
.title-image a img {
  margin-bottom: 20px;
}
.title-image a:hover h2 {
  text-decoration: underline;
}
.block-title {
  margin-top: -200px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
}
.block-title h1 {
  margin-top: -44px;
  line-height: 120px;
  min-height: auto;
}
.block-title .block-title__left {
  justify-content: flex-start;
}
.block-title .block-title__left h1 {
  text-align: left;
}
.block-title .block-title__center {
  justify-content: center;
}
.block-title .block-title__center h1 {
  text-align: center;
}
.block-title .block-title__right {
  justify-content: right;
}
.block-title .block-title__right h1 {
  text-align: right;
}
.block-title .block-title__description {
  display: flex;
  justify-content: flex-end;
}
.block-title .block-title__description p {
  max-width: 680px;
  text-align: right;
}
@media screen and (max-width: 580px) {
  .block-title {
    margin-top: -100px;
  }
  .block-title h1 {
    margin-top: -14px;
    line-height: 40px;
  }
}
.link-list {
  margin-right: -5%;
}
.link-list .link-list__item {
  margin-bottom: 15px;
}
.link-list .link-list__item h3 {
  margin-bottom: 0px;
  margin-right: 5px;
}
.link-list .link-list__item a {
  display: flex;
  justify-content: safe flex-end;
  align-items: center;
  text-decoration: none;
  font-size: 24px;
}
.link-list .link-list__item a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}
.link-list .link-list__item a:hover h3 {
  text-decoration: underline;
  text-decoration-color: inherit;
}
@media screen and (max-width: 580px) {
  .link-list .link-list__item a {
    font-size: 16px;
  }
}
header {
  background-color: white;
  font-family: 'arial', sans-serif;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 580px) {
  header {
    padding: 0px;
    width: 100%;
    position: fixed;
    height: 65px;
    background-color: white;
    top: 0;
  }
}
#logo-anchor {
  position: fixed;
  left: 9%;
  top: 40px;
  z-index: 10;
}
#logo-anchor img {
  width: 70px;
}
footer {
  padding: 100px 10% 40px 10%;
  justify-content: space-between;
  background-color: white;
}
footer > div.footer-social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer > div.footer-social > a {
  margin-bottom: 15px;
  font-weight: 500;
  color: black !important;
}
footer > div.footer-social > div.footer-social__icons {
  display: flex;
  margin-bottom: 5px;
}
footer > div.footer-social > div.footer-social__icons a {
  display: block;
  color: black;
  font-size: 16px;
  margin-right: 15px;
}
footer > div.footer-social > div.footer-social__icons a:last-of-type {
  margin-right: 0px;
}
footer > div.footer-social > div.footer-social__icons a:first-of-type {
  margin-top: -3px;
}
footer > div.footer-social > div.footer-social__icons a:first-of-type svg {
  width: 33px;
  height: 33px;
}
footer > div.footer-social > div.footer-social__icons a:nth-of-type(2) svg {
  width: 30px;
  height: 30px;
}
footer > div.footer-social > div.footer-social__icons svg {
  height: 26px;
  width: 26px;
}
footer > div.footer-social > .footer-social__text {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer > div.footer-social > .footer-social__text p,
footer > div.footer-social > .footer-social__text a {
  color: black !important;
  margin-bottom: 0px;
  margin-right: 3px;
  font-size: 14px;
}
@media screen and (max-width: 580px) {
  footer > div.footer-social > .footer-social__text p,
  footer > div.footer-social > .footer-social__text a {
    font-size: 10px;
  }
}
.logo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logo-list .logo-list__item {
  margin-right: 30px;
}
.logo-list .logo-list__item:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 580px) {
  .logo-list .logo-list__item {
    margin-right: 10px;
  }
}
.number-text-item {
  width: 100%;
  display: flex;
}
.number-text-item .number-text-item__number {
  width: 50%;
  margin-right: 40px;
}
.number-text-item .number-text-item__number > span {
  height: 3px;
  width: 70px;
  background-color: #E2DF46;
  display: block;
  margin-bottom: 30px;
}
.number-text-item .number-text-item__number .number-text-item__number__only-desktop {
  display: flex;
}
.number-text-item .number-text-item__number .number-text-item__number__only-desktop > h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
}
.number-text-item .number-text-item__number .number-text-item__number__only-desktop > p {
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  margin-right: 5px;
}
.number-text-item .number-text-item__number .number-text-item__number__only-mobile {
  display: none;
}
.number-text-item .number-text-item__text {
  width: 50%;
  margin-top: 34px;
}
.number-text-item .number-text-item__text h3 {
  display: none;
}
@media screen and (max-width: 600px) {
  .number-text-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .number-text-item .number-text-item__number {
    width: 14%;
    position: relative;
    margin-top: 60px;
  }
  .number-text-item .number-text-item__number > p {
    z-index: 1;
    position: absolute;
    left: 12px;
    top: 5px;
  }
  .number-text-item .number-text-item__number > span {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: block;
    background-color: #E2DF46;
  }
  .number-text-item .number-text-item__number > .number-text-item__number__only-mobile {
    display: block;
  }
  .number-text-item .number-text-item__number > .number-text-item__number__only-desktop {
    display: none;
  }
  .number-text-item .number-text-item__text {
    width: 75%;
  }
  .number-text-item .number-text-item__text span {
    width: 100%;
    height: 2px;
    margin-bottom: 25px;
    background-color: #E2DF46;
    display: block;
  }
  .number-text-item .number-text-item__text h3 {
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 19px;
    font-weight: 700;
    display: block;
  }
}
.contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.contact .contact-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
  text-decoration: none;
  font-size: 24px;
}
.contact .contact-item .contact-item__social {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 24px;
  font-weight: 400;
}
.contact .contact-item .contact-item__link {
  display: block;
  line-height: 30px;
  height: 30px;
  font-size: 24px;
  font-weight: 400;
}
.contact .contact-item address p {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 400;
}
.contact .contact-item img {
  width: 40px;
  margin-right: 2%;
}
.contact .contact-item--1 {
  width: 58%;
}
.contact .contact-item--2 {
  width: 38%;
}
.contact span {
  height: 4px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #E2DF46;
}
@media screen and (max-width: 580px) {
  .contact {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .contact .contact-item--1 {
    width: 100%;
    margin-bottom: 30px;
  }
  .contact .contact-item--2 {
    width: 100%;
  }
  .contact .contact-item {
    font-size: 18px;
  }
  .contact .contact-item .contact-item__social {
    font-size: 18px;
  }
  .contact .contact-item .contact-item__link {
    display: block;
    font-size: 18px;
    line-height: 18px;
    height: 18px;
    margin-bottom: 3px;
  }
  .contact .contact-item address p {
    font-size: 18px;
    line-height: 10px;
  }
  .contact .contact-item img {
    width: 18px;
    margin-right: 3%;
  }
  .contact span {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 2px;
  }
}
@media screen and (max-width: 400px) {
  .contact {
    margin-bottom: 40px;
  }
  .contact .contact-item {
    font-size: 12px;
  }
  .contact .contact-item .contact-item__social {
    font-size: 12px;
  }
  .contact .contact-item .contact-item__link {
    font-size: 16px;
    margin-bottom: 3px;
    height: 16px;
    line-height: 16px;
    display: block;
  }
  .contact .contact-item address p {
    font-size: 12px;
    line-height: 4px;
  }
}
.icon-link-text {
  margin-bottom: 90px;
}
.icon-link-text a {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
}
.icon-link-text a img {
  width: 40px;
  margin-right: 0.9%;
}
@media screen and (max-width: 580px) {
  .icon-link-text {
    margin-bottom: 50px;
  }
  .icon-link-text a {
    font-size: 18px;
  }
  .icon-link-text a img {
    width: 18px;
    margin-right: 2%;
  }
}
@media screen and (max-width: 400px) {
  .icon-link-text {
    margin-bottom: 50px;
  }
  .icon-link-text a {
    font-size: 12px;
  }
}
.title-text-button {
  width: 96%;
}
.title-text-button .title-text-button__title {
  margin-bottom: 50px;
  margin-top: 30px;
}
.title-text-button .title-text-button__decoration {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #E2DF46;
  margin-bottom: 55px;
  margin-top: 55px;
}
.title-text-button .title-text-button__decoration.title-text-button__decoration__none {
  display: none;
}
.title-text-button .title-text-button__content > .title-text-button__decoration {
  display: none;
}
.title-text-button .title-text-button__content .title-text-button__content-description {
  height: 120px;
  margin-bottom: 40px;
}
.title-text-button .title-text-button__content .title-text-button__content-description strong {
  background-color: transparent;
}
.title-text-button .title-text-button__content .title-text-button__content-btn {
  background-color: #E2DF46;
  padding: 12px 20px;
  border-radius: 27px;
  text-decoration: none;
  display: inline-flex;
  font-size: 22px;
  font-weight: 400;
}
.title-text-button .title-text-button__content .title-text-button__content-btn:hover {
  color: black;
}
.title-text-button:hover .title-text-button__content-btn {
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
}
.title-text-button:hover .title-text-button__content-description strong {
  background-color: #E2DF46;
  transition: background-color 0.3s;
}
@media screen and (max-width: 1250px) {
  .title-text-button {
    width: 100%;
  }
  .title-text-button .title-text-button__content .title-text-button__content-description {
    height: 100px;
  }
}
@media screen and (max-width: 580px) {
  .title-text-button {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  .title-text-button .title-text-button__title {
    margin-bottom: 30px;
  }
  .title-text-button .title-text-button__content .title-text-button__content-btn {
    padding: 5px 10px;
    font-size: 16px;
  }
  .title-text-button .title-text-button__content .title-text-button__content-description strong {
    background-color: #E2DF46;
  }
}
@media screen and (max-width: 400px) {
  .title-text-button .title-text-button__decoration {
    display: none;
  }
  .title-text-button .title-text-button__title {
    width: 100%;
  }
  .title-text-button .title-text-button__title h2 {
    margin-bottom: 0;
  }
  .title-text-button .title-text-button__content {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
  }
  .title-text-button .title-text-button__content .title-text-button__content-description {
    height: auto;
    margin-bottom: 0px;
    font-size: 16px;
  }
  .title-text-button .title-text-button__content .title-text-button__content-description p {
    margin-bottom: 15px;
  }
  .title-text-button .title-text-button__content > .title-text-button__decoration {
    margin: 0;
    display: block;
    position: absolute;
    top: -90px;
    height: 2px;
  }
  .title-text-button .title-text-button__content > .title-text-button__decoration.title-text-button__decoration__none {
    display: none;
  }
}
.title-text-button-G .title-text-button-G__decoration {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #E2DF46;
  margin-bottom: 55px;
  margin-top: 55px;
}
.title-text-button-G .title-text-button-G__columns {
  display: flex;
  justify-content: space-between;
}
.title-text-button-G .title-text-button-G__columns .title-text-button-G__column-1 {
  width: 45%;
  margin-right: 32px;
}
.title-text-button-G .title-text-button-G__columns .title-text-button-G__column-1 .title-text-button-G__column-1__title {
  margin-bottom: 50px;
}
.title-text-button-G .title-text-button-G__columns .title-text-button-G__column-1 .title-text-button-G__column-1__description {
  margin-bottom: 40px;
}
.title-text-button-G .title-text-button-G__columns .title-text-button-G__column-1 .title-text-button-G__column-1__btn {
  background-color: #E2DF46;
  padding: 12px 20px;
  border-radius: 27px;
  text-decoration: none;
  display: inline-flex;
  font-size: 22px;
  font-weight: 400;
  color: black;
}
.title-text-button-G .title-text-button-G__columns .title-text-button-G__column-2 {
  width: 48%;
  margin-top: 80px;
}
.title-text-button-G .title-text-button-G__columns:hover .title-text-button-G__column-1__btn {
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 580px) {
  .title-text-button-G .title-text-button-G__decoration {
    margin-top: 30px;
    margin-bottom: 30px;
    height: 2px;
  }
  .title-text-button-G .title-text-button-G__columns .title-text-button-G__column-1 .title-text-button-G__column-1__title {
    margin-bottom: 25px;
  }
  .title-text-button-G .title-text-button-G__columns .title-text-button-G__column-1 .title-text-button-G__column-1__description {
    margin-bottom: 30px;
  }
  .title-text-button-G .title-text-button-G__columns .title-text-button-G__column-1 .title-text-button-G__column-1__description p {
    margin-bottom: 0px;
  }
  .title-text-button-G .title-text-button-G__columns .title-text-button-G__column-1 .title-text-button-G__column-1__btn {
    padding: 5px 10px;
    font-size: 16px;
  }
  .title-text-button-G .title-text-button-G__columns .title-text-button-G__column-2 {
    margin-top: 15px;
  }
}
@media screen and (max-width: 400px) {
  .title-text-button-G .title-text-button-G__decoration {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .title-text-button-G .title-text-button-G__columns {
    flex-direction: column;
  }
  .title-text-button-G .title-text-button-G__columns .title-text-button-G__column-1 {
    width: 100%;
  }
  .title-text-button-G .title-text-button-G__columns .title-text-button-G__column-1 .title-text-button-G__column-1__btn {
    padding: 5px 10px;
    font-size: 16px;
  }
  .title-text-button-G .title-text-button-G__columns .title-text-button-G__column-2 {
    margin-top: 30px;
    width: 100%;
  }
}
.carousel {
  margin: 0 auto 60px auto;
}
.carousel .slick-list .item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 520px;
}
@media screen and (max-width: 580px) {
  .carousel .slick-list .item {
    height: 220px;
  }
}
form.wpcf7-form {
  font-family: 'Arial', sans-serif;
}
form.wpcf7-form p {
  margin-bottom: 20px;
}
form.wpcf7-form input,
form.wpcf7-form textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid black;
  margin-top: 5px;
}
form.wpcf7-form input[type="submit"] {
  width: auto;
  padding: 5px;
  padding: 10px 15px;
  background-color: transparent;
  font-size: 16px;
}
form.wpcf7-form input[type="submit"]:hover {
  color: #f7ba32;
  border-color: #f7ba32;
  box-shadow: 3px 3px rgba(242, 242, 242, 0.6);
}
@-ms-viewport {
  width: device-width;
}
