form.wpcf7-form  {
	margin-bottom: 100px;
	font-family: 'Barlow', sans-serif;
	display: flex;
	justify-content: space-between;
	p {
		margin-bottom: 0px;
	}
	.column1 {
		width: 48%;
	}
	.column2 {
		width: 48%
	}
	label {
		font-weight: 500;
		font-size: 18px;

	}
	input {
		margin-top: 10px;
		margin-bottom: 30px;
		border: 2px @yellow solid;
		border-radius: 15px;
		// height: 25px;
		width: 100%;
		padding: 8px;
		box-sizing: border-box;
	}
	.wpcf7-list-item{
		margin: 10px 30px 30px 0 ;
		position: relative;
		label {
			display: flex;
			width: 60px;
		}
	}
	input[type=submit] {
		margin-top: 28px;
		position: relative;
		padding: 5px 20px;
		background-color: @yellow;
		border-color: none;
		font-size: 22px;
		height: auto;
		width: auto;
		&:after {
			display: block;
			position: absolute;
			content: url('../resources/icons/arrow-home.svg');
			right: 0;
			top: 0;
			bottom: 0;
			width: 30px;
			height: 30px;

			// background-image: url('../resources/icons/arrow-home.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

	}
	@media screen and (max-width: @screen-xxs) {
		flex-direction: column;
		.column1 {
			width: 100%;
		}
		.column2 {
			width: 100%
		}
		.decoration, .decoration-bg {
			margin: 0;
			display: none;
		}
		.your-institution {
			input {
				margin-bottom: 8px;
			}
		}
	}
}
.wpcf7-checkbox input[type=checkbox] {
display: flex;
}

.wpcf7-checkbox {
	display: flex;
}
.wpcf7 .wpcf7-list-item {
display: block;
margin-bottom: 10px;
}
.wpcf7-checkbox label {
position: relative;
cursor: pointer;
}
.wpcf7-checkbox input[type=checkbox] {
/*position: relative;*/
position: absolute;
visibility: hidden;
width: 30px;
height: 30px;
top: 0;
left: 0;
}
.wpcf7-checkbox input[type=checkbox] + span {
/* border: 3px solid red; */
}
.wpcf7-checkbox input[type=checkbox] + span:before {
display: block;
position: absolute;
content: '';
border-radius: 16px;
height: 30px;
width: 30px;
top: 0px;
left: 0px;
border: 2px solid @yellow;
}
.wpcf7-checkbox input[type=checkbox] + span:after {
display: block;
position: absolute;
content: "\2713";
height: 30px;
width: 30px;
top: 0;
left: 2px;
visibility: hidden;
font-size: 18px;
text-align: center;
line-height: 30px;
}
.wpcf7-checkbox input[type=checkbox]:checked + span:before {
background: transparent;
}
.wpcf7-checkbox input[type=checkbox]:checked + span:after {
visibility: visible;
}
.wpcf7-list-item-label {
margin-left: 40px;
display: flex;
align-items: center;
height: 32px;
}
