
.template-tc {
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 150px;
	.template-tc__header {
		position: relative;
		min-height: 150px;
		margin-bottom: 75px;
		img {
			position: absolute;
			height: 150px;
			width: auto;
			margin-left: -10%;
		}
		.template-tc__title {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 150px;
			text-align: center;
		}
	}
}